﻿@model PizzariaRoma.Models.Pizza

<!DOCTYPE html>

<html>
<head>
    <title>Pizza detail</title>
</head>
<body>
    <div>
     
        <h2>@Model.Name</h2>

        <ul>
            <li>
                Description: @Model.Description   
            </li>
            <li>
                Price: @Model.Price.ToString()
            </li>
            <li>
                Image: @Model.Image
            </li>
    
            <li>
               Ingredients: @Model.Ingredient.Name.ToList()   
            </li>
    
        </ul>
    </div>
</body>
</html>