﻿@model List<PizzariaRoma.Models.Pizza>

<!DOCTYPE html>

<html>
<head>
    <title>Pizza's</title>
</head>
<body>
<div>
      @foreach (var pizza in Model)
      {
          <tr>
              <td> @Html.ActionLink(pizza.Name, "Detail", "Pizza", new {id = pizza.Id}, null) </td>
              <td> @pizza.Ingredient.Name</td>
          </tr>
      }
</div>
</body>
</html>